<div class="row">
  <div class="large-12 columns">
    <div class="form-padding">
      <%= render partial: 'form',
                 locals: { user: current_user, food_truck: @food_truck } %>
    </div>
    <%= link_to 'Cancel', food_trucks_path %>
  </div>
</div>
